<div>
	<span>Recipe here</span>
	<span>Select your favourite recipes</span>

	<ul class="nav nav-pills">
	  <li  *ngFor="#recipe of recipes"><a href="#">{{recipe.category}}</a></li>
	</ul>
	
		<div class="row">
		  <div *ngFor="#recipe of recipes" class="col-xs-12 col-sm-6 col-md-6" style="">
		  	<div class="container-fluid" style="border: 1px solid gray; margin: 5px;">
		  		<div  class="row" style="padding:5px;">
		  			<div class="col-xs-4">
		  				
		  			</div>
		  			<div class="col-xs-8">
		  				<div class="row">
		  					<a href="#recipe/{{recipe.id}}">{{recipe.name}}</a>
							</div>
							<div  class="row">
								<span>{{recipe.category}}</span>
							</div>
							<div  class="row">
								<span>Gol gappa is a very popular Indian street food, just like samosas. Each gol gappa is stuffed with fresh garbanzo beans (chick peas) and boiled potatoes, then topped with savory chutneys and spices. They are so addicting you’ll find that though this recipe serves 3, you may consume them all for yourself. I almost did… </span>
							</div>

						</div>
					</div>
					<div class="row">
						share
					</div>
				</div>
			</div>
		</div>	
</div>